/* Estilos Generales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;300&display=swap");



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

/**estilos header**/

.headerSuperior{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menuhead li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;  
    
    
}

.headerInferior{
    background-color: #F0A83E;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/** section banner **/
.banner{
    background-image: url("../img/comedero_huesitos.png");
    height: 605px;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 10px;
}

.contenidoBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo1{
    background-color: white;
    color: #3C2313;
    font-size: 25px;
    width: 365px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.boton{
    background-color: #F0A83E;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 141px;
    height: 49px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*seccion destadados*/

.destacados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 50px;
    
}

.patita{
    align-items: center;
    justify-content: center;
    
}

.tituloDestacado{
    color: 3C2313;
    font-size: 40px;
    line-height: 47px;

}
.menuDestacado li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;  
    
    
}

/*seccion ofertas*/

.contenedorOfertas{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
}

.oferta1, .oferta2, .oferta3{
    align-items: center;
    text-align: center;
    padding-right: 50px;
    
}

.precio{
    color: #F0A83E
}