/* Estilos Generales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;300&display=swap");



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

/**estilos header**/

.headerSuperior{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menuhead li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;  
    
    
}

.headerInferior{
    background-color: #F0A83E;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/** section banner **/
.banner{
    background-image: url("../img/comedero_huesitos.png");
    height: 605px;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 10px;
}

.contenidoBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulo1{
    background-color: white;
    color: #3C2313;
    font-size: 25px;
    width: 365px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.boton{
    background-color: #F0A83E;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 141px;
    height: 49px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

/*seccion destadados*/

.destacados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 50px;
    
}

.patita{
    align-items: center;
    justify-content: center;
    
}

.tituloDestacado{
    color: 3C2313;
    font-size: 40px;
    line-height: 47px;

}
.menuDestacado li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;  
    
    
}

/*seccion ofertas*/

.contenedorOfertas{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
}

.oferta1, .oferta2, .oferta3{
    align-items: center;
    text-align: center;
    padding-right: 50px;
    
}

.precio{
    color: #F0A83E;
}

/*seccion formulario*/

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form{
    background-color: #3C2313;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    
}

.contacto p{
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #3C2313;
       
}

.botones{
    margin-top: 50px;
    text-align: center;
}
.botonreset{
    border-radius: 25px;
    background-color: #8A8787;
    border: none;
    cursor: pointer;
    width: 110px;
    height: 34px;
    left: 397px;
    top: 1340px;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
}
.botonenviar{
    border-radius: 25px;
    background-color: #F0A83E ;
    border: none;
    cursor: pointer;
    width: 110px;
    height: 34px;
    left: 521px;
    top: 1340px;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}



/* estilos footer*/

footer{
    display: flex;
    flex-direction: column;
    color:azure ;
    margin-top: 30px;
}

.contsuscripcion{
    background-color: #F0A83E;
}

.linkcontactos{
    display: flex;
    background-color: #3C2313;
    flex-direction: column;

}

.copyright{
    background-color: black;
    text-align: center;
}